body{
	width: 80%;
	margin: 0 auto;
	background: url('http://alloads.ru/b/original_8592_oboi_chernyj_fon_s_uzorami_i_zavitkami_1920x1200.jpg');
	background-size: cover;
	padding-top: 50px;
}
header{
	background: #1F252A;
	box-shadow: 0 5px 6px gold;
	border-radius: 5px;
	transition: 1s;
	transition-delay: 2s;
}
header:hover{
	background: #1F252A;
	transition: 1s;

}
header ul{
	display: inline-flex;
	margin-left: 600px;
}
header ul span{
	margin-left: -500px;
	color: white;
	font-weight: bold;
}
header:hover ul span{
	margin-left: -500px;
	opacity: 1;
	transition: 1s;
}
header li{
	list-style:none;
}
header ul li a{
	padding-left: 20px;
	list-style: none;
	color: white;
	text-decoration: none;
}
header ul li a:link{
	color: gold;
}
header a:hover{
	color: gold;
	font-weight: bold;
}
.abut:visited{
	color: gold;
}

.dark{
	background: #1F252A;
	height: 500px;
	margin-top: 8px;
	border-radius: 8px;
	box-shadow: 20px 11px 20px rgba(0,0,0,.9);
}
.name{
	margin-left: 140px;
	padding-top: 80px;
}
.name span{
		color: gold;
		font-weight: bold;
}
.name h1{
	color: white;
}
.name i{
	color: white;

}
.name i:hover{
	color: gold;
}

.flex{
	display: flex;
	justify-content: space-between;
}
.photo img{
	width:300px;
	padding-top: 90px;
	margin-right: 150px;
}

.progress{
	width: 200px;
	height: 4px;
	border-radius: 2px;
	border:1px solid white;
	 position: relative;
  display: inline-block;
  overflow: hidden;
}
.progress span{
	position: absolute;
	display: block;
}
.progress span:nth-child(1){
	top: 0;
	transition-delay: 888888s;
	left: -170px;
	width: 170px;
	height: 4px;
	background: linear-gradient(90deg,transparent,orange);
}
.dark:hover .progress span:nth-child(1){
	left: 10px;
	transition: 3s;
	transition-delay: 0.3s;
}
.progress2{
	width: 200px;
	height: 4px;
	border-radius: 2px;
	border:1px solid white;
	 position: relative;
  display: inline-block;
  overflow: hidden;
  margin-left: 50px;
}
.progress2 span{
	position: absolute;
	display: block;
}
.progress2 span:nth-child(1){
	top: 0;
	transition-delay: 888888s;
	left: -170px;
	width: 170px;
	height: 4px;
	background: linear-gradient(90deg,transparent,blue);
}
.dark:hover .progress2 span:nth-child(1){
	left:30px;
	transition: 3s;
	transition-delay: 0.8s;
}
.progress3{
	width: 200px;
	height: 4px;
	border-radius: 2px;
	border:1px solid white;
	 position: relative;
  display: inline-block;
  overflow: hidden;
  margin-left: 100px;
}
.progress3 span{
	position: absolute;
	display: block;
}
.progress3 span:nth-child(1){
	top: 0;
	transition-delay: 888888s;
	left: -170px;
	width: 170px;
	height: 4px;
	background: linear-gradient(90deg,transparent,yellow);
}
.dark:hover .progress3 span:nth-child(1){
	left: -30px;
	transition: 3s;
	transition-delay: 1s;
}
.flex{
	margin:10px;
	margin-top: 40px;
	display: flex;
	justify-content: space-between;
}
.first:hover{
	transform: scale(1.1);
	transition: 1s;
}
.first {
transition: 1s;
		position: relative;
}
.Second:hover{
	transform: scale(1.1);
	transition: 1s;
}
.Second {
transition: 1s;
		position: relative;
}
.Three:hover{
	transform: scale(1.1);
	transition: 1s;
}
.Three {
transition: 1s;
		position: relative;
}
.first:hover .content1{
	transition: 0.5s;
	margin-top: -212px;
	width: 300px;
	height: 212px;
	margin-left: 0;
}
.first:hover .content1 p{
	padding-top: 70px;
	transition: 1s;
	color: white;
}
.first .content1 p{
	transition: 1s;
}
.first .content1{
	transition: 1s;
}


.Second:hover .content2{
	transition: 0.5s;
	margin-top: -212px;
	width: 340px;
	height: 212px;
	margin-left: 0;
}
.Second:hover .content2 p{
	padding-top: 70px;
	transition: 1s;
	color: gold;
}
.Second .content2 p{
	transition: 1s;
}
.Second .content2{
	transition: 1s;
}


.Three:hover .content3{
	transition: 0.5s;
	margin-top: -212px;
	width: 300px;
	height: 212px;
	margin-left: 0;
}
.Three:hover .content3 p{
	padding-top: 70px;
	transition: 1s;
	color: white;
}
.Three .content3 p{
	transition: 1s;
}
.Three .content3{
	transition: 1s;
}
.first img{
	width: 300px;
	border-radius: 10px;
	z-index: 1;
}
.content1{
	border-radius: 10px;
	width: 200px;
	height: 120px;
	background: rgba(0,0,0,.4);
	margin-left: 50px;
	margin-top: -70px;
	position: absolute;

}
.content1 p{
	color: white;
	text-align: center;
	padding-top: 30px;
	font-size: 20px;
}



.Second{
		position: relative;
}
.Second img{
	width: 340px;
	height: 210px;
	border-radius: 10px;
	z-index: 1;
}
.content2{
	border-radius: 10px;
	width: 200px;
	height: 120px;
	background: rgba(0,0,0,.4);
	margin-left: 70px;
	margin-top: -70px;
	position: absolute;

}
.content2 p{
	color: white;
	text-align: center;
	padding-top: 30px;
	font-size: 20px;
}


.Three{
		position: relative;
}
.Three img{
	width: 300px;
	border-radius: 10px;
	z-index: 1;
}
.content3{
	border-radius: 10px;
	width: 200px;
	height: 120px;
	background: rgba(0,0,0,.4);
	margin-left: 50px;
	margin-top: -70px;
	position: absolute;

}
.content3 p{
	color: white;
	text-align: center;
	padding-top: 30px;
	font-size: 20px;
}
